<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>

    </header>
    <main>
        <form>
            <label> Nombre y apellido
                <input type = "text">
            </label>
            <br>
            <br>

            <label> Nombre de usuari@
                <input type = "text">
            </label>
            <br>
            <br>

            <label> Email
                <input type = "email">
            </label>
            <br>
            <br>

            <label> Fecha de nacimiento
                <input type = "date">
            </label>
            <br>
            <br>

            <label> Domicilio
                <input type = "text">
            </label>
            <br>
            <br>
            
            <label> Perfil del usuario
                <br>
                <input type = "radio" id = "comprar" name = perfilDeUsuario><label> Comprador</label>
                <br>
                <input type = "radio" id = "vender" name = perfilDeUsuario><label> Vendedor</label>
            </label>
            <br>
            <br>
            
            <label> Categorías de interés
                <br>
                <input type = "checkbox" id = "Electro" name = categoriaInteres><label> Electro</label>
                <br>
                <input type = "checkbox" id = "Moda" name = categoriaInteres><label> Moda</label>
                <br>
                <input type = "checkbox" id = "Hogar" name = categoriaInteres><label> Hogar</label>
                <br>
                <input type = "checkbox" id = "Juguetería" name = categoriaInteres><label> Juguetería</label>
                <br>
                <input type = "checkbox" id = "Vida sana" name = categoriaInteres><label> Vida sana</label>
                </label>
                <br>
                <br>
                
            <label> Foto de usuario <input type="file">
            </label>
            <br>
            <br>

            <label> Contraseña <input type="password">
            </label>
            <br>
            <br>

            <label> Confirmar contraseña <input type="password">
            </label>
            <br>
            <br>

            <button type> Main 
            </label>
            <br>

            <button type = reset> Reset

            </label>
        </form>
    </main>
    <footer>

    </footer>
</body>
</html>